# {{ ansible_managed }}

global
    log         127.0.0.1 local2

    chroot                          /var/lib/haproxy
    pidfile                         /var/run/haproxy.pid
    maxconn                         {{ haproxy_maxconns }}
    user                            haproxy
    group                           haproxy
    daemon

    # turn on stats unix socket
    stats                           socket /var/lib/haproxy/stats

{% if haproxy_enable_strict_tls|default(False) %}

    ssl-default-bind-ciphers        ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4
    ssl-default-bind-options        no-sslv3 no-tlsv10 no-tlsv11
{% endif %}

    tune.ssl.default-dh-param       4096

    # this should try to let sessions cache around a day for PFS purposes
    tune.ssl.cachesize              20000

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          {{ haproxy_timeout_client }}
    timeout server          {{ haproxy_timeout_server }}
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

# HAPROXY FRONTENDS
{% for frontend in haproxy_frontends %}

# Front End: {{ frontend.name }}
frontend {{ frontend.name }}
  bind                       {{ frontend.bind }}
{% if frontend.mode|default(false) %}
  mode                       {{ frontend.mode }}
{% endif %}
{% if frontend.log|default(false) %}
	log                        {{ frontend.log }}
{% endif %}
{% if frontend.options|default(false) %}
{% for option in frontend.options %}
  option {{ option }}
{% endfor %}
{% endif %}

  # Timeouts
{% if frontend.timeout_client_fin|default(false) %}
  timeout client-fin         {{ frontend.timeout_client_fin }}
{% endif %}
{% if frontend.block_user_agent|default(false) or frontend.block_ip_address|default(false) %}
  tcp-request inspect-delay 1s
{% endif %}
{% if frontend.block_user_agent|default(false) or frontend.block_ip_address|default(false) %}
  tcp-request content reject if abuser
{% endif %}

{% if frontend.reqadd|default(false) %}

  # Headers
{% for reqadd in frontend.reqadd %}
  reqadd                      {{ reqadd }}
{% endfor %}
{% endif %}{# if frontend.reqadd|default(false) -#}

{% if frontend.acls|default(false) %}
  # ACLs
{% for acl in frontend.acls %}
  acl                         {{ acl.name }} {{ acl.policy }}
{% endfor %}
{% endif %}
{% if frontend.block_user_agent|default(false) or frontend.block_ip_address|default(false) %}

  # Blocking related ACLs
{% if frontend.block_user_agent|default(false) %}
  acl abuser hdr_reg(User-Agent) -i -f /etc/haproxy/{{ frontend.name }}-ua-abuser.lst
{% endif %}
{% if frontend.block_ip_address|default(false) %}
  acl abuser src -f /etc/haproxy/{{ frontend.name }}-ip-abuser.lst
{% endif %}
{% endif %}{# if frontend.block_user_agent|default(false) or frontend.block_ip_address|default(false) -#}
{% if frontend.block_rules|default(false) %}

# Block Rules
{% for rule in frontend.block_rules %}
  {{ rule }}
{% endfor %}
{% endif %}
{% if frontend.use_backend|default(false) %}

  # Backend Routing
{% for use_backend in frontend.use_backend %}
  use_backend                 {{ use_backend }}
{% endfor %}
{% endif %}{# if frontend.use_backend|default(false) #}
{% if frontend.default_backend|default(false) %}

  # Default backend
  default_backend             {{ frontend.default_backend }}
{% endif %}{# if frontend.default_backend|default(false) #}
{% if frontend.other_directives|default(false) %}

  # Other directives
{% for directive in frontend.other_directives|default([]) %}
  {{ directive }}
{% endfor %}
{% endif %}
{% endfor %}

# HAPROXY BACKENDS
{% for backend in haproxy_backends %}
# Back End: {{ backend.name }}
backend {{ backend.name }}
{% if backend.redirect_ssl|default(false) %}
  redirect                    scheme https if !{ ssl_fc }
{% endif %}
  balance                     {{ backend.balance|default('roundrobin') }}
{% if backend.cookie|default(false) %}
  cookie                      {{ backend.cookie }}
{% endif %}
{% if backend.mode|default(false) %}
  mode                        {{ backend.mode }}
{% endif %}
{% if backend.timeout_tunnel|default(false) %}
  timeout tunnel              {{ backend.timeout_tunnel }}
{% endif %}
{% if backend.timeout_server|default(false) %}
  timeout server              {{ backend.timeout_server }}
{% endif %}
{% for header in backend.headers|default([]) %}
  http-request set-header     {{ header }}
{% endfor %}
{% for directive in backend.other_directives|default([]) %}
  {{ directive }}
{% endfor %}

{% if backend.groups|default(false) %}
  # Servers (dynamically determined)
{% for group in backend.groups %}
{% for host in groups[group.group] %}
{% if group.check_cookie|default(false) %}
  server                      {{ hostvars[groups[group.group][loop.index0]]['ansible_eth0']['ipv4']['address']|hash('sha1') }} {{ hostvars[groups[group.group][loop.index0]]['ansible_eth0']['ipv4']['address'] }}:{{ group.port }} check cookie {{ hostvars[groups[group.group][loop.index0]]['ansible_eth0']['ipv4']['address']|hash('sha1') }}
{% else %}
  server                      {{ hostvars[groups[group.group][loop.index0]]['ansible_eth0']['ipv4']['address']|hash('sha1') }} {{ hostvars[groups[group.group][loop.index0]]['ansible_eth0']['ipv4']['address'] }}:{{ group.port }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}{# if backend.groups|default(false) -#}

{% if backend.manual_servers|default(false) %}
  # Servers (explicitly defined)
{% for server in backend.manual_servers.servers %}
{% if backend.manual_servers.check_cookie|default(false) %}
  server                      {{ server|hash('sha1') }} {{ server }}:{{ backend.manual_servers.port }} check cookie {{ server|hash('sha1') }}
{% else %}
  server                      {{ server|hash('sha1') }} {{ server }}:{{ backend.manual_servers.port }}
{% endif %}
{% endfor %}
{% endif %}{#if backend.manual_servers|default(false) #}

{% endfor %}
